html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  margin: 0px; }

.main {
  margin-top: 100px; }

.site-title {
  color: white;
  font-size: 30px;
  position: absolute;
  margin-top: 15px;
  font-family: Times;
  font-weight: 300;
  margin-left: 50px; }

i.fa {
  position: absolute;
  top: 20px;
  left: 10px;
  color: white;
  cursor: pointer; }

header {
  background: #222;
  top: 0px;
  margin: 0px;
  height: 50px;
  position: fixed;
  left: 0px;
  width: 100%;
  z-index: 999; }

nav a {
  color: white; }

nav.mobile-navigation li {
  padding: 20px;
  margin: 10px;
  text-align: center;
  margin-left: 0px;
  padding-left: 25px;
  /* border-bottom: 1px solid white; */ }

.wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -o-transition: transform .6s ease;
  transition: transform .6s ease; }

nav.mobile navigation ul {
  left: -100px; }

.mobile-navigation.nav-open {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%); }

.wrapper.nav-open {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.outer-wrapper {
  overflow-x: hidden; }

p {
  margin: 50px; }

div.test-nav {
  width: 100%;
  height: 50px;
  background-color: blue;
  position: fixed;
  top: 0px;
  left: 0px; }

/* ANIMATED HAMBURGER MENU */
#nav-toggle {
  position: absolute;
  right: 25px;
  top: 25%; }

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: ''; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  transform: rotate(45deg); }

#nav-toggle.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  top: 10px; }

/* ANIMATED MENU VERSION 2 */
/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 18px; }

#nav-icon3 span:nth-child(4) {
  top: 36px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.mobile-navigation {
  list-style: none;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -o-transition: transform .6s ease;
  transition: transform .6s ease;
  position: fixed;
  left: 0px;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: #e4e4e4; }
  
  .mobile-navigation ul {
    list-style: none;
    width: 100%;
    position: relative;
    left: -25%; }

@media screen and (max-width: 700px) {
  #main-nav.main-navigation {
    display: none !important; }

  .site-title {
    margin-left: 25px; } }
@media (min-width: 768px) {
  .mobile-navigation {
    display: none; }

  #nav-toggle {
    display: none; }

  .site-title {
    margin-left: 50px; }

  nav.main-navigation {
    float: right;
    padding-bottom: 5px;
    padding-top: 7px; }
    nav.main-navigation ul {
      margin-right: 50px; }
    nav.main-navigation li {
      display: inline-block;
      color: white;
      padding: 14px 25px;
      font-size: 17px; }
    nav.main-navigation li.active a {
      color: #62b6b6; } }
